<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">
<div class="jumbotron text-center">
<h1 class="bg-light text-dark">Student Registration</h1>

</div>

<div class="text-center">
<!-- {%if user is authenticated%}
welcome {{user.username}}
 -->


<!-- 
{%else%}
welcome guest
please <a href="/accounts/register/" class="btn btn-info">Register</a>
or <a href="/accounts/login/" class="btn btn-info">login</a>
<a href="/accounts/logout/" class="btn btn-info">logout</a>

{%endif%} -->

 <a href="https://carolyne-akirachix.herokuapp.com/accounts/register/" class="btn btn-info">register</a>
 <a href="https://carolyne-akirachix.herokuapp.com/accounts/login/" class="btn btn-info">login</a>
 <a href="https://carolyne-akirachix.herokuapp.com/accounts/logout/" class="btn btn-info">logout</a>

</div>
<div class="container">
    <h3 class="text-center text-white font-weight-light">
    	AkiraChix is a center for excellence and believes that access to education and training is of paramount importance for young women to support them in moving out of the vicious cycle of low-skills, low-productivity, and low-wage employment and as a pathway to bridging the gender gap in Information & Technology industry.
    </h3>

</div>
</body>
</html>