<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
 <table class="table table-striped">
 <button type="button"><a href="/student/add/">Add Me!</a></button>
	<tr>
		<th>First_name</th>
		<th>Last_Name</th>
		<th>Registeration number</th>
		<th>ID No</th>
		<th>Email</th>
		<th>Phone Number</th>
		<th>courses</th>
		<th>More details</th>
		<th>Edit details</th>
		

	</tr>


  
 {% for student in students %}

<tr>

<td>{{student.first_name}}</td>
<td>{{student.last_name}}</td>
<td>{{student.registeration_number}}</td>
<td>{{student.id_no}}</td>
<td>{{student.email}}</td>
<td>{{student.phone_number}}</td>
<td>{{student.courses}}</td>
<td><a href="/student/detail/{{student.pk}}">More details</a></td>
<td><a href="/student/edit/{{student.pk}}">Edit details</a></td>


</tr>
{%endfor%}

</table>

</div>
</body>
</html>